<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
  <connectionStrings>
    <add name="Context" connectionString="Data Source=WIN-BR9AAF20AAG;Initial Catalog=JL;Integrated Security=True;MultipleActiveResultSets=True;UserID=supkido_1;Password=Supkido))0"
      providerName="System.Data.SqlClient" />
    <add name="ConsoleApp1.Properties.Settings.JLConnectionString"
      connectionString="Data Source=WIN-BR9AAF20AAG;Initial Catalog=JL;Persist Security Info=True;User ID=supkido_1"
      providerName="System.Data.SqlClient" />
    <add name="ConsoleApp1.Properties.Settings.JLConnectionString1"
      connectionString="Data Source=WIN-BR9AAF20AAG;Initial Catalog=JL;Persist Security Info=True;User ID=sa;Password=Sunsetfame05!"
      providerName="System.Data.SqlClient" />
    <add name="ConsoleApp1.Properties.Settings.CalendarConnectionString"
      connectionString="Data Source=WIN-BR9AAF20AAG;Initial Catalog=Calendar;Persist Security Info=True;User ID=sa;Password=Sunsetfame05!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>